@import "nullstyle.css";

:root {
    --color-1: #fff;
    --color-2: #378c3f;
    --color-3: #40a249;
    --default-transition: all .3s ease 0s;
    --border-radius: 5px;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #2c2c2c;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* -------------------------------- header -------------------------------- */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 6em;
    align-items: center;
}

.header__logo {
    color: var(--color-1);
    text-transform: uppercase;
    position: relative;
    z-index: 3;
    font-size: 1.1rem;
}

.header__burger {
    display: none;
}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}

.header__item {
    margin: 0 0 0 .4em;
}

.header__link {
    color: var(--color-1);
    font-size: 0.92rem;
    text-transform: uppercase;
    padding: 1.1em 1em;
    transition: var(--default-transition);
}

.header__link:hover {
    background-color: rgba(222, 222, 222, 0.3);
    border-radius: var(--border-radius);
}

/* -------------------------------- page -------------------------------- */

.page {
    flex: 1 1 auto;
}

/* -------------------------------- banner -------------------------------- */

.banner {
    position: relative;
    height: 550px;
}

.banner__body {
    padding: 80px 0 0 0;
    position: relative;
    z-index: 2;
    text-align: center;
}

.banner__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 2rem auto;
}

.banner__photo img {
    width: 100%;
}

.banner__title {
    color: var(--color-1);
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0 0 .5em 0;
}

.banner__subtitle {
    color: var(--color-1);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.3;
}

.banner__buttons {
    margin: 1.43rem 0 0 0;
    display: flex;
    justify-content: center;
    gap: .7em;
    flex-wrap: wrap;
}

.banner__button {
    display: inline-block;
    color: var(--color-1);
    background-color: var(--color-2);
    flex: 0 0 160px;
    padding: 1rem;
    border-radius: var(--border-radius);
    font-size: 0.8571rem;
    transition: var(--default-transition);
}

.banner__button:hover {
    background-color: var(--color-3);
}

.banner__social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .7em;
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.social {
    width: 57px;
    height: 57px;
    flex: 0 0 auto;
    background-color: #888;
    border-radius: 50%;
    position: relative;
    bottom: -135px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--default-transition);
}

.social:hover {
    box-shadow: rgba(55, 140, 63, .5) 0 0 0 3px;
}

.social img {
    height: 22px;
}

.banner__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* -------------------------------- block -------------------------------- */

.block {
    padding: 70px 0 100px 0;
}

.block__body {
    background-color: #fff;
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 20%);
    border-radius: var(--border-radius);
}

.block__row {
    display: flex;
}

.block__column {
    flex: 0 1 50%;
    padding: 2rem;
}

/* -------------------------------- subtitle -------------------------------- */

.subtitle {
    font-weight: 700;
    font-size: 1.7rem;
}

/* -------------------------------- about -------------------------------- */

.subtitle__about {
    margin: 0 0 1.3em 0;
}

.block__about {
    line-height: 1.5rem;
}

.block__basic {
    display: flex;
}

.block__basic:not(:last-child) {
    margin-bottom: 1.4em;
}

.basic__property {
    flex: 0 1 30%;
    font-weight: 700;
    text-transform: uppercase;
}

.basic__value {
    flex: 0 1 70%;
}

.basic__value_link {
    color: inherit;
}

.basic__value_link:hover {
    color: var(--color-3);
}

/* -------------------------------- skills -------------------------------- */


/* -------------------------------- @media -------------------------------- */

@media (max-width: 1199px) {
    ._container {
        max-width: 960px;
    }
}

@media (max-width: 991px) {
    body.lock {
        overflow: hidden;
    }

    ._container {
        max-width: 720px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header__burger span {
        background-color: var(--color-1);
        position: absolute;
        left: 0;
        width: 80%;
        height: 1px;
        top: 9px;
        transition: var(--default-transition);
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: var(--color-1);
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        transition: var(--default-transition);
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#378C3F 0%, #000 80%);
        padding: 100px 30px 0 30px;
        transition: var(--default-transition);
        overflow: auto;
    }

    .header__menu.active {
        top: 0;
    }

    .header__list {
        display: block;
    }

    .header__item {
        margin: 0 0 2.5rem 0;
    }

    .about__body {
        flex-direction: column;
    }

    .about__column:last-child {
        padding: 0 2rem 2rem 2rem;
    }

    .block__row {
        flex-direction: column;
    }

    .block__column:last-child {
        padding: 0 2rem 2rem 2rem;
    }
}

@media (max-width: 767px) {
    ._container {
        max-width: 540px;
    }
}

@media (max-width: 575px) {
    ._container {
        max-width: 100%;
    }

    .about__item {
        display: block;
    }

    .about__property {
        margin: 0 0 10px 0;
    }

    .block__basic {
        flex-direction: column;
    }

    .basic__property {
        margin-bottom: .4em;
    }
}