@import "nullstyle.css";

:root {
    --color-1: #fff;
    --color-2: #378c3f;
    --color-3: #40a249;
    --default-transition: all .3s ease 0s;
    --border-radius: 5px;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2c2c2c;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* -------------------------------- header -------------------------------- */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 84px;
    align-items: center;
}

.header__logo {
    color: var(--color-1);
    text-transform: uppercase;
    position: relative;
    z-index: 3;
    font-size: 15px;
}

.header__burger {
    display: none;
}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}

.header__item {
    margin: 0 0 0 5px;
}

.header__link {
    color: var(--color-1);
    font-size: 13px;
    text-transform: uppercase;
    padding: 14px 13px;
    transition: var(--default-transition);
}

.header__link:hover {
    background-color: rgba(222, 222, 222, 0.3);
    border-radius: var(--border-radius);
}

/* -------------------------------- общее -------------------------------- */

.page {
    flex: 1 1 auto;
}

.subtitle {
    font-weight: 700;
    font-size: 24px;
    margin: 0 0 25px 0;
    text-align: center;
}

/* -------------------------------- section profile-banner -------------------------------- */

.profile-banner {
    position: relative;
    height: 550px;
}

.profile-banner__body {
    padding: 80px 0 0 0;
    position: relative;
    z-index: 2;
    text-align: center;
}

.profile-banner__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 28px auto;
}

.profile-banner__photo img {
    width: 100%;
}

.profile-banner__title {
    color: var(--color-1);
    font-weight: 700;
    font-size: 35px;
    margin: 0 0 18px 0;
}

.profile-banner__subtitle {
    color: var(--color-1);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.3;
}

.profile-banner__buttons {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.btn {
    color: var(--color-1);
    background-color: var(--color-2);
    padding: 14px;
    border-radius: var(--border-radius);
    font-size: 12px;
    transition: var(--default-transition);
}

.btn:hover {
    background-color: var(--color-3);
}

.profile-banner__button {
    flex: 0 0 160px;
}

.profile-banner__social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.social__link {
    width: 57px;
    height: 57px;
    flex: 0 0 auto;
    background-color: #888;
    border-radius: 50%;
    position: relative;
    bottom: -135px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--default-transition);
}

.social__link:hover {
    box-shadow: rgba(55, 140, 63, .5) 0 0 0 3px;
}

.social__link img {
    height: 22px;
}

.profile-banner__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* -------------------------------- section basic-information -------------------------------- */

.basic-information {
    padding: 70px 0 30px 0;
}

/*.block {
    padding: 70px 0 30px 0;
}*/

.template {
    background-color: #fff;
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 20%);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.template__body {
    display: flex;
}

.template__column {
    flex: 0 1 50%;
    padding: 28px;
}

.caption-about {
    font-weight: 700;
    font-size: 24px;
    margin: 0 0 18px 0;
}

.text-about {
    line-height: 1.5;
}

.template__basic {
    display: flex;
}

.template__basic:not(:last-child) {
    margin-bottom: 20px;
}

.basic__property {
    flex: 0 1 30%;
    font-weight: 700;
    text-transform: uppercase;
}

.basic__value {
    flex: 0 1 70%;
}

.basic__value_link {
    color: inherit;
}

.basic__value_link:hover {
    color: var(--color-3);
}

/* -------------------------------- section professional-skills -------------------------------- */

.professional-skills {
    padding: 70px 0 30px 0;
}

.skill:not(:last-child) {
    margin-bottom: 30px;
}

.skill__info {
    display: flex;
    justify-content: space-between;
    color: var(--color-2);
    font-size: 15px;
    margin-bottom: 15px;
}

.skill__range {
    position: relative;
}

.skill__range .range__bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 5px;
    z-index: 1;
    overflow: hidden;
}

.skill__range .range__bar .bar__fill {
    display: block;
    height: 100%;
    background-color: var(--color-2);
}

.skill__range .range__bar .bar__fill_1 {
    width: 80%;
}

.skill__range .range__bar .bar__fill_2 {
    width: 85%;
}

.skill__range .range__bar .bar__fill_3 {
    width: 60%;
}

.skill__range .range__bar .bar__fill_4 {
    width: 90%;
}

.skill__range .range__bar .bar__fill_5 {
    width: 50%;
}

.skill__range .range__bar .bar__fill_6 {
    width: 40%;
}

.skill__range .range__bar .bar__fill_7 {
    width: 70%;
}

.skill__range .range__bar .bar__fill_8 {
    width: 95%;
}

.skill__range .range__bar .bar__fill_9 {
    width: 70%;
}

.skill__range .range__bar .bar__fill_10 {
    width: 80%;
}

.skill__range .range__slider {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 5px;
    background-color: rgba(55, 140, 63, 0.4);
}

/* -------------------------------- section profile-portfolio -------------------------------- */

.profile-portfolio {
    padding: 70px 0 30px 0;
}

.gallery__items {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.gallery__item {
    display: block;
    position: relative;
    padding: 0 0 50% 0;
    overflow: hidden;
    transition: all .5s;
}

.gallery__item:hover img {
    animation-name: cover-image;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    scale: 1.2;
}

.gallery__text {
    display: none;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    animation-name: cover-text;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

.gallery__cover {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 95%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation-name: cover-background;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}

.gallery__item:hover .gallery__cover {
    display: flex;
}

.gallery__item:hover .gallery__text {
    display: block;
    width: 90%;
}

.gallery__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease-out;
}

@keyframes cover-background {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
    }
    100% {
        width: 95%;
        height: 90%;
        opacity: 1;
    }
}

@keyframes cover-text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes cover-image {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.2;
    }
}

/* -------------------------------- section work-experience -------------------------------- */

.work-experience {
    padding: 70px 0 30px 0;
}

.template__box:not(:last-child) {
    margin-bottom: 20px;
}

.body-template__column {
    padding: 28px;
}

.body-template__column_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 25%;
    background-color: var(--color-2);
    color: #fff;
}

.body-template__column_2 {
    flex: 0 1 75%;
}

.body-template__row {
    text-align: center;
}

.body-template__data {
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 15px;
}

.body-template__name {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.1;
}

.body-template__name_title-experience {
    margin-bottom: 20px;
}

.body-template__description {
    line-height: 1.5;
}

/* -------------------------------- section education -------------------------------- */

.education {
    padding: 70px 0 30px 0;
}

.body-template__name_title-education {
    margin-bottom: 10px;
}

.body-template__category {
    font-weight: 700;
    color: #9a9a9a;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* -------------------------------- section contact -------------------------------- */

.contact {
    padding: 70px 0;
    margin: 70px 0 30px 0;
    position: relative;
    overflow: hidden;
}

.contact iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.contact__template {
    padding: 28px;
    max-width: 660px;
    margin: 0 auto;
}

.contact__columns {
    display: flex;
    column-gap: 70px;
}

.contact__column {
    flex: 0 1 50%;
    padding-top: 20px;
}

.contact__column:nth-child(2) {
    line-height: 1.6;
}

.contact__note {
    font-weight: 700;
    margin-bottom: 20px;
}

.form {
}

.form__body {
}

.form__item {
    position: relative;
}

.form__item::before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
}

.form__item:nth-child(1)::before {
    background: url("../icons/user.svg") 0 0 no-repeat;
}

.form__item:nth-child(2)::before {
    background: url("../icons/document.svg") 0 0 no-repeat;
}

.form__item:nth-child(3)::before {
    background: url("../icons/email.svg") 0 0 no-repeat;
}

.form__item:not(:last-child) {
    margin-bottom: 25px;
}

.form__input {
    border: 1px solid #e3e3e3;
    border-radius: 30px;
    padding: 10px 15px 10px 45px;
    width: 100%;
    font-size: 12px;
    transition: var(--default-transition);
}

.form__input:focus {
    border: 1px solid #797979;
}

.form__input:valid {
    border: 1px solid var(--color-3);
}

.form__input._error {
    border: 1px solid #ef4e4e;
}

.form__textarea {
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
    padding: 10px 15px;
    font-size: 12px;
    min-height: 80px;
    resize: none;
    transition: var(--default-transition);
}

.form__textarea:focus {
    border-bottom: 1px solid #797979;
}

.form__textarea:valid {
    border-bottom: 1px solid var(--color-3);
}

.form__textarea._error {
    border-bottom: 1px solid #ef4e4e;
}

.form__btn {
    width: 100px;
}

.contact__item:not(:last-child) {
    margin-bottom: 16px;
}

.contact__item a:hover {
    color: var(--color-3);
}

.contact__label {
    font-weight: 700;
}

.contact__value {
    color: inherit;
    transition: var(--default-transition);
}

/* -------------------------------- footer -------------------------------- */

.footer {
    padding: 50px 0;
}

.footer__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer__text {
    color: #797979;
}

/* -------------------------------- @media -------------------------------- */

@media (max-width: 1199px) {
    ._container {
        max-width: 960px;
    }
}

@media (max-width: 991px) {
    body.lock {
        overflow: hidden;
    }

    ._container {
        max-width: 720px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header__burger span {
        background-color: var(--color-1);
        position: absolute;
        left: 0;
        width: 80%;
        height: 1px;
        top: 9px;
        transition: var(--default-transition);
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: var(--color-1);
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        transition: var(--default-transition);
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#378C3F 0%, #000 80%);
        padding: 100px 30px 0 30px;
        transition: var(--default-transition);
        overflow: auto;
    }

    .header__menu.active {
        top: 0;
    }

    .header__list {
        display: block;
    }

    .header__item {
        margin: 0 0 35px 0;
    }

    .about__body {
        flex-direction: column;
    }

    .about__column:last-child {
        padding: 0 28px 28px 28px;
    }

    .template__body {
        flex-direction: column;
    }

    .template__column:last-child {
        padding: 0 28px 28px 28px;
    }

    .body-template__column_1 {
        justify-content: flex-start;
    }

    .body-template__row {
        text-align: start;
    }
}

@media (max-width: 767px) {
    ._container {
        max-width: 540px;
    }

    .gallery__items {
        grid-template-columns: 1fr;
    }

    .contact__columns {
        flex-direction: column;
    }

    .contact__column:last-child {
        padding-top: 50px;
    }
}

@media (max-width: 575px) {
    ._container {
        max-width: 100%;
    }

    .about__item {
        display: block;
    }

    .about__property {
        margin: 0 0 10px 0;
    }

    .template__basic {
        flex-direction: column;
    }

    .basic__property {
        margin-bottom: 5px;
    }
}